@import "../../assets/styles/dobeb_ui_variables";

.item-favourite {
    position: absolute;
    top: 0;
    right: 0;
}

.item-header {
    font-size: $font-size-mid;
    margin: .2em;
}

.item-name {
    font-size: $font-size-tiny;
    font-family: $font-secondary;
    height: 3em;
}

.item-price {
    text-align: justify;
    font-size: $font-size-mid;
    font-family: $font-primary;
}
