.item-favourite {
    position: absolute;
    bottom: 0;
    right: 0;
}

.item-vendor-url {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

.item-favourite-icon {
    margin: .1em 0.3em .1em 0;
}
