@import "../../assets/styles/dobeb_ui_variables";

.categories-selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-transform: uppercase;
    font-family: $font-primary;
    font-size: $font-size-mid;
    .category {
        margin: .8em .4em;
        cursor: pointer;
    }
    .active {
      border-bottom: 4px solid black;
    }
    animation: show-up .25s ease-in-out;
}

.item-gallery-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.spinner-loading {
    width: $button-size;
    margin: $button-size auto;
}
