@import "./assets/styles/dobeb_ui_variables.scss";

$search-color: #888;
$nav-height: $button-size * 1.8;

.content {
    margin-top: $nav-height;
}

.nav {
    background-color: $background-primary;
    position: fixed;
    top: 0;
    width: 100%;
    height: $nav-height;
    z-index: 1;
}

.relative {
    position: relative;
}

::placeholder {
    color: $search-color;
}

.main-search {
    color: $search-color;
    text-align: left;
}

.search-icon {
    position: absolute;
    top: 0em;
    left: 0em;
    padding: 2em;
    cursor: pointer;
}

.m-left {
    margin-left: 2 * $button-size;
}

.m-right {
    margin-right: 2 * $button-size;
}
