@import "./assets/styles/dobeb_ui_variables.scss";

$search-color: #888;

.relative {
    position: relative;
}

::placeholder {
    color: $search-color;
}

.main-search {
    color: $search-color;
    text-align: left;
}

.search-icon {
    position: absolute;
    top: 0em;
    left: 0em;
    padding: 2em;
    cursor: pointer;
}

.m-right {
    margin-right: 2 * $button-size;
}
