@import "./dobeb_ui_variables.scss";

// My mini UI library
// Author: Dobeb96

@font-face {
    font-family: Anton;
    src: url("../fonts/Anton/Anton-Regular.ttf");
}

@mixin font-primary {
    font-family: $font-family;
}

@mixin shadow {
    -webkit-box-shadow: 8px 20px 30px -30px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 20px 30px -30px rgba(0,0,0,0.75);
    box-shadow: 8px 20px 30px -30px rgba(0,0,0,0.75);
}

@mixin margin-small {
    margin: .3em;
}

@mixin nostyle-hyperlinks {
    text-decoration: none;
}

.bg-primary {
    background-color: $background-primary;
}

.btn {
    @include font-primary;
    @include margin-small;
    @include nostyle-hyperlinks;
    border-radius: $button-radius;
    height: $button-size;
    min-width: $button-size;
    line-height: $button-size;
    color: black;
    text-align: center;
    padding: 0 1.4em;
    text-transform: uppercase;
    font-size: $font-size-mid;
    cursor: pointer;
}

.btn-small {
    @extend .btn;
    min-width: $button-size / 2;
    height: $button-size / 2;
    line-height: $button-size / 2;
}

.btn-primary {
    @extend .btn;
    @include shadow;
    color: $button-text-primary;
    background-color: $button-primary;
    border: 4px solid darken($button-primary, 1%)
}

.btn-primary-small {
    @extend .btn-small;
    @include shadow;
    padding: 0 .8em;
    color: $button-text-primary;
    background-color: $button-primary;
    border: 4px solid darken($button-primary, 1%)
}

.btn-secondary {
    @extend .btn;
    @include shadow;
    color: $button-text-primary;
    background-color: darken($background-primary, 10%);
}

.btn-round {
    @extend .btn;
    padding: 0;
    vertical-align: middle;
    max-width: $button-size;
}

.btn-round-small {
    @extend .btn-round;
    height: $button-size / 2;
    min-width: $button-size / 2;
    width: $button-size / 2;
}

.btn-hover-darken:hover {
    background-color: darken($button-primary, 5%);
    border: 4px solid darken($button-primary, 6%)
}

.card {
    @include shadow;
    @include nostyle-hyperlinks;
    border-radius: $card-border;
    background-color: white;
    min-width: 220px;
    min-height: 220px;
    width: 24%;
    margin: .4em;
    z-index: 0;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.card img {
    transition: all $transition-duration ease-in-out;
}

.card:hover img {
    filter: brightness(1.05);
    transform: scale(1.05);
}

.card-image {
    width: 100%;
    height: 100%;
    border-radius: $card-border;
}

.card-content-hover {
    opacity: 0;
    transition: opacity $transition-duration ease-in-out;
}

.card:hover .card-content-hover {
    opacity: 1;
}


input:focus {
    outline: 0;
}

.search {
    @extend .btn;
    flex-grow: 2;
    border: none;
    padding-left: 2 * $button-size;
    cursor: pointer;
}

.flex-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}
